# Build output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Environment
.env
.env.*

# IDEs
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.history/

# Misc
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# System
.DS_Store
Thumbs.db