# build files
dist/
out-tsc/

# node modules
node_modules/

# angular cache
.angular/

# temp files
tmp/
.cache/

# env files
.env

# logs
npm-debug.log
yarn-error.log

# IDE files
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db